#title {
color: green;
text-align: center;
}
#bodies {
    background-color: lightgoldenrodyellow;
}
.mcdonalds {
    background-color: orange;
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.popeyes {
    background-color: orange;
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.dunkin {
    background-color: orange;
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

.first {
    color: red;
    text-align: center;
    font-size: xx-large;
}
.second {
    color: red;
    text-align: center;
    font-size: xx-large;
}
.third {
    color: red;
    text-align: center;
    font-size: xx-large;
}
.center1 {
    display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}